<div {{ attributes }}>
    {{ form_start(form) }}
    
    <div class="mb-3">
        {{ form_row(form.category) }}
    </div>
    
    <div class="mb-3">
        {{ form_row(form.template) }}
    </div>

    {# Render any extra fields dynamically #}
    {% for child in form %}
        {% if child.vars.name not in ['category', 'template', '_token'] %}
            <div class="mb-3">
                {{ form_row(child) }}
            </div>
        {% endif %}
    {% endfor %}

    {{ form_end(form) }}
</div>
